/* genel ayarlar */
* {
    padding: 0;
    margin: 0 px;
    box-sizing: border-box;
    /* padding+height +border= 140px */
}

html {
    font-size: 20px;
}

body {
    font-family: 'Bitter', serif;
}

img {
    max-width: 100%;
    height: auto;
}

.f20 {
    font-size: 1rem
        /*10px */
}

.navbar {
    width: 100%;

}

ul li {
    list-style-type: none;
}


.text-header {
    text-transform: uppercase;
    text-align: center;
    text-shadow: .4px .5px black;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0.9);
    margin-bottom: 1.8rem;
    padding: 1rem;
}

#vki-calculater {
    margin-top: 10%;
}

#vkibas {
    text-align: center;
}

#vki-box {
    position: relative;
    top: 30%;
    padding: 30px;

}



#vki-result {
    margin-top: 10%;
    text-align: center;
    font-weight: bolder;
}

/* main */
.card-header-img {
    width: 14rem;
    height: 8rem;
    margin-bottom: .8rem;

}

.card-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}



.container .row .col-sm-4 .card {
    box-shadow: 2px 1px 8px 1px black;
    transition: all 1s;
    margin-bottom: .8rem;
}

.container .row .col-sm-4 .card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 12px 1px black;

}

#aside-image {
    margin: 2rem 0;
}

#aside-image img {
    height: 18rem;
    width: 100%;
}

#aside-image #aside-p {
    text-align: justify;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    text-align: justify;
}


/* scrollspy-foote*/
.scrollspy-footer {
    color: black;
    max-height: 3rem;
    max-width: 5rem;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .1rem .4rem;
}

.scrollspy-footer a {
    font-size: 1rem;
    margin-right: 2rem;
    background-color: orange;
    padding: 1rem 2rem;
}

/* footer */
#footer-bottom {
    height: 25rem;
    padding-top: 2rem;
}

ul li i {
    margin-right: .6rem;
    ;
}

#social i {
    margin-right: .8rem;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

#rowid {
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    margin-right: 4%;
    margin-left: 6%;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    align-items: center;
    max-width: 360px;



}



.card p {
    margin-bottom: 10px;
}

.card h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
}

#gal {
    max-width: 1120px;
    text-align: center;
    align-items: center;
    margin-left: 14%;
}

.baslık {
    text-align: center;
    font-size: 30px;
}

.container2 {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.txtb {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
}

.task {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 18px;
    margin: 15px 0;
    overflow: hidden;
}

.task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.ntc {
    text-align: left;
    margin-top: 5%;
    font-size: 30px;
}

.notcomp .task {
    background: red;
    color: white;
    font-size: 20px;
    font-style: oblique;
}

.comp .task {
    background: rgba(44, 255, 107, 0.596);
    color: rgb(0, 0, 0);
    text-decoration: line-through;
}