/*Group selector*/
/* * {
    background-color: coral;
    padding: 12px;
} */

p {
    font-size: 35px;
}

/*bütün div bütün p*/
div,
p {
    color: red;
}

/*parenti div olan çocuğu p olan tüm p*/
div>p {
    color: blue;
}

/*div ile aynı nseviyedeki bütün p*/
div~p {
    color: rgb(75, 75, 71);
}

/*div ile aynı nseviyedeki ilk p*/
div+p {
    color: rgb(17, 24, 11);
}

/* *************************** */
/* attribute selector */
/* html5 ile başlayan */

p[title^="html5"] {
    color: blue;
    background-color: yellow;
}

/* jquery ile biten */
p[title$="jquery"] {
    color: yellow;
    background-color: blue;
}

/* :  pseudo class
:: pseudo element */
h1::after {
    content: " -ben sonradan eklendim";
}

h1::before {
    content: " -den önce eklendim.";
}

h1::first-letter {
    color: blue;
    font-size: 30rem;
}


/* */
#listem {
    list-style-type: none;
}

#listem li {
    margin-top: 1rem;

}

#listem li:nth-of-type(even) {
    background-color: blue;
}

#listem li:nth-of-type(odd) {
    background-color: yellow;
}

/* pseudo class*/
a {
    font-size: 3rem;
}

a:link {
    background-color: blue;
    color: white;
}

a:hover {
    background-color: yellow;
    color: black;
}

a:active {
    background-color: red;
    color: yellow;
}

a:visited {
    background-color: pink;
    color: white;
}

/* css other  */
.box {
    position: relative;
    background-color: blueviolet;
    color: white;
    width: 24.2%;
    height: 250px;
    display: inline-block;
    margin-left: .2%;
    margin-right: .2%;
    margin-top: 3%;
    box-sizing: border-box;
    /* border+padding+w veya h*/
    box-shadow: 1px 3px 4px 3px rgba(0, 0, 0, .8);

}

.box:hover {
    height: 300px;
    width: 20.2%;
    transition: all 3s;
}

/* resim*/
img {
    max-width: 100%;
    height: auto;
    object-fit: none;
    object-position: center;

    /* position*/
    /*  FARSS */
    /*
    F=fixed
    A=absolute
    R=relative
    S=stick
    S=static (defult)
     */
}

#back-to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 1.5rem;
    margin-right: .4rem;
    margin-bottom: .3rem;
    background-color: black;
    color: white;
    padding: .4rem;
    text-transform: uppercase;
}

/* media query*/
/* 1<=x<=898  msa*/
@media screen and (min-width:1px) {
    .box {
        width: 100%;
        height: 100px;
        background-color: yellow;
    }
}

/* 0 -899 */
@media screen and (min-width:600px) {
    .box {
        width: 48%;
        height: 200px;
        background-color: blue;
    }
}

@media screen and (min-width:800px) {
    .box {
        width: 30%;
        height: 300px;
        background-color: black;
    }
}

@media screen and (min-width:1200px) {
    .box {
        width: 23%;
        height: 400px;
        background-color: orange;
    }
}